<body>
  <h2>Fill the form</h2>
  <div class="form-container">
<ng-container *ngIf="callType === 'normal'; then normal else
               (callType === 'group' ? group : 
               (callType === 'failed' ? failed : otherForms))">
</ng-container>

<ng-template #otherForms>
  <p>No form available, give valid input</p>
</ng-template>

<ng-template #normal let-callType="callType">        <br><br>
    <form>
        <label for="subscriber-id">Subscriber ID</label>
        <input type="number" id="subscriber-id" name="subscriber-id" placeholder="Enter Subscriber ID" [(ngModel)]="form.subscriber">
        <br><br>
        <label for="receiver-id">Receiver ID</label>
        <input type="number" id="receiver-id" name="reciever-id" placeholder="Enter Receiver ID" [(ngModel)]="form.reciever">
        <br><br>
        <label for="dateOf">Date</label>
        <input type="date" id="dateOf" name="dateOf" [(ngModel)]="form.date">
        <br><br>
        <label for="duration">Time</label>
        <input type="time" id="duration" name="duration" [(ngModel)]="form.time">
        <br><br>
        <label for="subscriber-id">Duration (in minutes)</label>
        <input type="text" id="subscriber-id" name="subscriber-id" placeholder="Enter Duration in minutes" [(ngModel)]="form.duration">
        <br><br>
        <label for="subscriberLocation">Subscriber Location</label>
            <input type = "text" id="subscriberLocation" name="subscriberLocation" [(ngModel)]="form.subscriberLocation" (input)="filterLocations(form.subscriberLocation, 'subscriber')">
            <ul *ngIf="filteredSubscriberLocations.length > 0">
            <li *ngFor="let location of filteredSubscriberLocations" (click)="selectLocation(location, 'subscriber')">{{ location.locationName }}</li>
            </ul>
            <br><br>

            <label for="receiverLocation">Receiver Location</label>
            <input type = "text" id="receiverLocation" name="receiverLocation" [(ngModel)]="form.recieverLocation" (input)="filterLocations(form.recieverLocation, 'receiver')">
            <ul *ngIf="filteredReceiverLocations.length > 0">
            <li *ngFor="let location of filteredReceiverLocations" (click)="selectLocation(location, 'receiver')">{{ location.locationName }}</li>
            </ul>
            <br><br>
        <label for="subscription-type">Call Type</label>
        <select id="subscription-type" name="subscription-type" [(ngModel)]="form.callType">
            <option *ngFor="let type of types" [value]="type">{{ type }}</option>
        </select>
        <br><br>
        <button type="submit" (click) = "validateFormInput('normal')">Submit</button>
    </form>
    {{status.status}}
</ng-template>

<ng-template #group let-callType="callType">
  <p> Group call is dealt later</p>
</ng-template>

<ng-template #failed let-callType="callType">
    <br><br>
    <form>
        <label for="subscriber-id">Subscriber ID</label>
        <input type="number" id="subscriber-id" name="subscriber-id" placeholder="Enter Subscriber ID" [(ngModel)]="form.subscriber">
        <br><br>
        <label for="receiver-id">Receiver ID</label>
        <input type="number" id="receiver-id" name="reciever-id" placeholder="Enter Receiver ID" [(ngModel)]="form.reciever">
        <br><br>
        <label for="dateOf">Date</label>
        <input type="date" id="dateOf" name="dateOf" [(ngModel)]="form.date">
        <br><br>
        <label for="duration">Time</label>
        <input type="time" id="duration" name="duration" [(ngModel)]="form.time">
        <br><br>
        
        <label for="subscriberLocation">Subscriber Location</label>
            <input type="text" id="subscriberLocation" name="subscriberLocation" [(ngModel)]="form.subscriberLocation" (input)="filterLocations(form.subscriberLocation, 'subscriber')">
            <ul *ngIf="filteredSubscriberLocations.length > 0">
            <li *ngFor="let location of filteredSubscriberLocations" (click)="selectLocation(location, 'subscriber')">{{ location.locationName }}</li>
            </ul>
            <br><br>

            <label for="receiverLocation">Receiver Location</label>
            <input type="text" id="receiverLocation" name="receiverLocation" [(ngModel)]="form.recieverLocation" (input)="filterLocations(form.recieverLocation, 'receiver')">
            <ul *ngIf="filteredReceiverLocations.length > 0">
            <li *ngFor="let location of filteredReceiverLocations" (click)="selectLocation(location, 'receiver')">{{ location.locationName }}</li>
            </ul>
            <br><br>
        <label for="subscription-type">Call Type</label>
        <select id="subscription-type" name="subscription-type" [(ngModel)]="form.callType">
            <option *ngFor="let type of types" [value]="type">{{ type }}</option>
        </select>
        <br><br>
        <label for="subscription-type">Reasons for failure</label>
        <select id="subscription-type" name="subscription-type" [(ngModel)]="form.reason">
            <option *ngFor="let type of reasons" [value]="type">{{ type }}</option>
        </select><br><br>
        <label>Has sent voicemail: <br>
            <input type="radio" name="option" [(ngModel)]="showNumberField" [(ngModel)]="form.hasVoiceMail" [value]="true"> Yes
          </label>
          <label>
            <input type="radio" name="option" [(ngModel)]="showNumberField" [(ngModel)]="form.hasVoiceMail" [value]="false"> No
          </label>
          <br><br>
          <div *ngIf="showNumberField">
            <label for="numberField">Duration of voice mail:</label>
            <input type="number" id="numberField" name="numberField" [(ngModel)]="form.voiceMailDuration">
          </div>
        <br><br>
        <button (click) = "validateFormInput('failed')">Submit</button>
    </form>
    {{status.status}}
</ng-template>
</div>
</body>