<!DOCTYPE html>
<html>
<head>
    <title>CDR Creation</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <h3>CDR Creation</h3>
            <div class="button-group">
                <button (click)="createCall()">Create Call</button>
                <button (click)="createMessage()">Create SMS</button>
            </div>
            <!-- <div class="small-buttons">
                <button (click) = "uploadCSV('call_scv')">upload call csv</button>
                <button (click) = "uploadCSV('message_csv')">upload message csv</button>
            </div> -->
        </div>
    </div>
</body>
</html>
