<!DOCTYPE html>
<html lang="en">

<body>
    <div class="container">
        <h2>Subscription Details</h2>
        <form>
            <label for="subscriber-id">Subscriber ID</label>
            <input type="text" id="subscriber-id" name="subscriber-id" placeholder="Enter Subscriber ID" [(ngModel)]="form.subscriber">
            <br><br>
            <label for="receiver-id">Receiver ID</label>
            <input type="text" id="receiver-id" name="reciever-id" placeholder="Enter Receiver ID" [(ngModel)]="form.reciever">
            <br><br>
            <label for="dateOf">Date</label>
            <input type="date" id="dateOf" name="dateOf" [(ngModel)]="form.date">
            <br><br>
            <label for="duration">Time</label>
            <input type="time" id="duration" name="duration" [(ngModel)]="form.time">
            <br><br>
            <label for="location">Subscriber Location</label>
            <select id="location" name="location" [(ngModel)]="form.subscriberLocation">
                <option *ngFor="let location of locations" [value]="location.locationName">{{ location.locationName }}</option>
            </select>
            <br><br>
            <label for="location">Receiver Location</label>
            <select id="location" name="location" [(ngModel)]="form.recieverLocation">
                <option *ngFor="let location of locations" [value]="location.locationName">{{ location.locationName }}</option>
            </select>
            <br><br>
            <label for="subscription-type">Sent Status</label>
            <select id="subscription-type" name="subscription-type" [(ngModel)]="form.status">
                <option *ngFor="let type of messageStatus" [value]="type">{{ type }}</option>
            </select>
            <br><br>
            <label for="subscription-type">Message type</label>
            <select id="subscription-type" name="subscription-type" [(ngModel)]="form.type">
                <option *ngFor="let type of messageType" [value]="type">{{ type }}</option>
            </select>
            <br><br>
            <button type="submit" (click)="create()">Submit</button>
        </form>
        <p>{{status.status}}</p>
    </div>
</body>
</html>
